@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.phone {
  margin: 30px auto;
  padding: 18px;
  width: 350px;
  height: 90vh;

  background-image: url(./img/bg.jpeg);
  background-size: cover;
  background-position: center;

  border-radius: 50px;
  border: 18px solid #272a2c;

  position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-weight: 400;
  color: #e9ecef;
}

.top .middle {
  background-color: #272a2c;
  border-radius: 30px;
  height: 35px;
  width: 105px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* always should be up */
  z-index: 1000;
}

.camera {
  margin-right: 8px;
  width: 15px;
  height: 15px;
  background-color: #383f44;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.camera div {
  width: 10px;
  height: 10px;
  background-color: #485157;
  border-radius: 50%;
}

.top .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.top .right img {
  height: 18px;
}

.container {
  margin-top: 30px;
  height: 75vh;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.widgets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.widget {
  height: 140px;
  width: 140px;
  border-radius: 10px;
  background-color: rgba(221, 6, 6, 0.3);
}
.widget:first-child {
  background-color: rgba(0, 57, 46, 0.3);
}
.widget {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e9ecef;
  font-size: 14px;
}

.location span:last-child {
  font-size: 32px;
  position: relative;
}

span.circle {
  font-size: 20px !important;
  position: absolute;
  top: -16px;
  right: 4px;
  margin-top: 90px;
}

.weather,
.location {
  display: flex;
  flex-direction: column;
}

.weather img {
  height: 24px;
  width: 24px;
}

.apps img {
  height: 60px;
}

.parent {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.apps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.apps div {
  height: 65px;
  width: 65px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

.apps div span {
  color: #272a2c;
  letter-spacing: 1px;
  margin-top: -5px;
  font-size: 10px;
  font-weight: 600;
}

.footer {
  padding: 8px;
  border-radius: 20px;
  background-color: rgba(12, 7, 7, 0.3);
  margin-top: auto;
}

.footer img {
  height: 60px;
  width: 60px;
}

img:hover {
  cursor: pointer;
}

.wrapper {
  height: 52vh;
}

.swap {
  height: 10px;
  width: 150px;
  margin: 5px auto;
  background-color: #121111;
  border-radius: 10px;
  bottom: 0px;
  cursor: pointer;

  animation: swap 3s infinite;
  animation-iteration-count: 2;

  position: sticky;

  /* always should be up */
  z-index: 1000;
}

@keyframes swap {
  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.switch {
  position: absolute;
  color: #fff;
  top: 80px;
  right: -25px;
  background-color: #272a2c;
  height: 50px;
  width: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.facebook {
  height: 86vh;
  width: 315px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4267b2;
  border-radius: 30px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.m_part {
  padding: 16px 8px;
  text-align: center;
}

.form > * {
  border-radius: 2px;
  border: 0;
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 6px 0px;
  font-size: 16px;
}

.form input {
  border: 0.4px solid #383f44;
  margin: 0px 0px;
}

.form input:first-child {
  border-bottom: 0.8px #272a2c solid;
}
.form input[type="password"] {
  border-top: 0.8px #272a2c solid;
}

.form button {
  color: #e9ecef;
  background-color: #4473d2;
  cursor: pointer;
}

.b_part {
  margin-bottom: 18px;
  padding: 12px 16px;
  font-size: 14px;
}
.b_part div {
  text-align: center;
}

.b_part div:first-child a {
  text-decoration: none;
  color: #e9ecef;
}

.b_part div:last-child {
  cursor: pointer;
  color: #e9ecef;
  margin-top: 24px;
}

.facebook-logo {
  margin-bottom: 18px;
}

.facebook-logo img {
  width: 200px;
}

.hide {
  visibility: hidden;
  transition: all 1s ease-out;
}
